* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
  color: #f3f5f8;
  background-color: #f3f5f8;
}

.hide {
  display: none;
}

.header__container .navbar__container {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #202020;
}

@media screen and (min-width: 1024px) {
  .header__container .navbar__container {
    padding: 0.5rem 7rem;
  }
}

.header__container .navbar__container .images__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .navbar__container .images__container .link__logo {
  cursor: pointer;
}

.header__container .navbar__container .images__container .link__logo .logo-img {
  width: 7rem;
}

@media screen and (min-width: 1024px) {
  .header__container .navbar__container .images__container .link__logo .logo-img {
    width: 8rem;
  }
}

.header__container .navbar__container .images__container #burguer__icon {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header__container .navbar__container .images__container #burguer__icon {
    display: none;
  }
}

.header__container .navbar__container .navbar__menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__container .navbar__container .navbar__menu {
    width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__container .navbar__container .navbar__menu .menu__item {
    cursor: pointer;
    color: #f3f5f8;
    font-size: 1.5rem;
    font-family: "Bebas Neue", cursive;
  }
  .header__container .navbar__container .navbar__menu .menu__item:hover {
    color: #ec1923;
  }
  .header__container .navbar__container .navbar__menu .menu__item .home {
    color: #f3f5f8;
  }
  .header__container .navbar__container .navbar__menu .menu__item .home:hover {
    color: #ec1923;
  }
}

.header__container .navbar__container .navbar__menu__open {
  width: 100vw;
  height: 100vh;
  padding-bottom: 40vh;
  position: absolute;
  left: 0;
  top: 8vh;
  z-index: 1000;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .navbar__container .navbar__menu__open .menu__item {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
}

.header__container .navbar__container .navbar__menu__open .menu__item .home {
  color: #f3f5f8;
}

.header__container .hero__container {
  padding: 2rem;
  text-align: center;
  color: #161616;
}

.header__container .hero__container .hero__title {
  font: bold 3rem "Bebas Neue", cursive;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .header__container .hero__container {
    padding: 4rem;
  }
  .header__container .hero__container .hero__title {
    font: bold 6rem "Bebas Neue", cursive;
  }
  .header__container .hero__container .hero__paragraph {
    font-size: 20px;
  }
}

#main__container {
  padding: 0 13vw;
}

#main__container .heroe__info {
  width: 100%;
  height: 100%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main__container .heroe__info .close__details {
  position: fixed;
  top: 4%;
  left: 86%;
  z-index: 1000;
  color: #ec1923;
  -webkit-filter: drop-shadow(0px 2px 8px white);
          filter: drop-shadow(0px 2px 8px white);
  cursor: pointer;
}

#main__container .heroe__info .heroe__image {
  width: 100%;
  height: 48%;
  position: fixed;
  top: -70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-box-shadow: 0px 12px 8px #00000029;
          box-shadow: 0px 12px 8px #00000029;
}

@media screen and (min-width: 478px) {
  #main__container .heroe__info .heroe__image {
    height: 53%;
  }
}

@media screen and (min-width: 600px) {
  #main__container .heroe__info .heroe__image {
    height: 60%;
    top: -74px;
  }
}

@media screen and (min-width: 768px) {
  #main__container .heroe__info .heroe__image {
    height: 70%;
    -o-object-position: 51% 25%;
       object-position: 51% 25%;
  }
}

@media screen and (min-width: 1024px) {
  #main__container .heroe__info .heroe__image {
    width: 42%;
    height: 100%;
    right: 59%;
    top: 0;
    -o-object-position: 80% 25%;
       object-position: 80% 25%;
  }
}

#main__container .heroe__info .heroe__details {
  margin: 40vh 0 0;
  text-align: center;
}

@media screen and (min-width: 600px) {
  #main__container .heroe__info .heroe__details {
    margin: 50vh 0;
  }
}

@media screen and (min-width: 768px) {
  #main__container .heroe__info .heroe__details {
    margin: 60vh 0;
  }
}

@media screen and (min-width: 1024px) {
  #main__container .heroe__info .heroe__details {
    margin: 0 0 0 40%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: unset;
  }
}

#main__container .heroe__info .heroe__details .heroe__title {
  font: 3rem "Bebas Neue", cursive;
  text-align: center;
}

#main__container .heroe__info .heroe__details .heroe__comics {
  margin: 2rem 0;
}

@media screen and (min-width: 1024px) {
  #main__container .heroe__info .heroe__details .heroe__comics {
    margin: 2rem 0 1rem 0;
  }
}

#main__container .heroe__info .heroe__details .heroe__comics .comics-title {
  margin-bottom: 1.5rem;
}

#main__container .heroe__info .heroe__details .heroe__comics .comics-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  #main__container .heroe__info .heroe__details .heroe__comics .comics-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 123%;
  }
}

#main__container .heroe__info .heroe__details .heroe__comics .comics-wrapper .comic-wrapper {
  margin-bottom: 2rem;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

#main__container .heroe__info .heroe__details .heroe__comics .comics-wrapper .comic-wrapper .img-comic {
  width: 15rem;
}

@media screen and (min-width: 1024px) {
  #main__container .heroe__info .heroe__details .heroe__comics .comics-wrapper .comic-wrapper .img-comic {
    width: 11rem;
  }
}

#main__container .heroe__info .heroe__details .heroe__comics .comics-wrapper .comic-wrapper .title-comic {
  font-size: 1.2rem;
}

@media screen and (min-width: 1240px) {
  #main__container .heroe__info .heroe__details .heroe__comics .comics-wrapper .comic-wrapper .title-comic {
    font-size: 1rem;
  }
}

#main__container .heroe__info .heroe__details .fav__button {
  margin-bottom: 2rem;
}

#main__container .heroe__info .heroe__details .fav__button .btn {
  width: 10rem;
  height: 2.5rem;
  background-color: #ec1923;
  border: 3px solid #ec1923;
  border-radius: 5px;
  font: 18px "Bebas Neue", cursive;
  color: #f3f5f8;
  outline: none;
  cursor: pointer;
}

#main__container .heroe__info .heroe__details .fav__button .btn:hover {
  background-color: #f3f5f8;
  color: #ec1923;
  -webkit-box-shadow: 0px 12px 8px #00000029;
          box-shadow: 0px 12px 8px #00000029;
}

#main__container .pagination-container {
  margin: 2rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main__container .pagination-container .change-page-btn {
  margin: 0 10px;
  width: 2rem;
  height: 2rem;
  background-color: #ec1923;
  border: 3px solid #ec1923;
  border-radius: 5px;
  font: 1.5rem "Bebas Neue", cursive;
  color: #f3f5f8;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 1024px) {
  #main__container .pagination-container .change-page-btn {
    margin: 0 15px;
  }
}

#main__container .pagination-container .change-page-btn:hover {
  background-color: #f3f5f8;
  color: #ec1923;
  -webkit-box-shadow: 0px 12px 8px #00000029;
          box-shadow: 0px 12px 8px #00000029;
}

#main__container .pagination-container .page-number {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  #main__container .pagination-container .page-number {
    font-size: 1.2rem;
  }
}

#main__container .loader-container {
  position: absolute;
  top: 13%;
  left: 0;
  z-index: 1000;
  background-color: #f3f5f8;
  width: 100%;
  height: 100vh;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main__container .loader-container .loader-image {
  width: 12rem;
}

#main__container .loader-container .loader-text {
  margin-top: 1rem;
  color: #161616;
  font: 1.5rem "Bebas Neue", cursive;
}

#main__container .error-container {
  margin-top: -1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #161616;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #main__container .error-container {
    margin-top: -7rem;
  }
}

#main__container .error-container .error-img {
  width: 9rem;
}

#main__container .error-container .error-btn {
  width: 10rem;
  height: 2.5rem;
  margin-top: 1rem;
  padding-top: 5px;
  background-color: #ec1923;
  border: 3px solid #ec1923;
  border-radius: 5px;
  text-align: center;
  font: 18px "Bebas Neue", cursive;
  color: #f3f5f8;
  outline: none;
  cursor: pointer;
}

#main__container .error-container .error-btn:hover {
  background-color: #f3f5f8;
  color: #ec1923;
  -webkit-box-shadow: 0px 12px 8px #00000029;
          box-shadow: 0px 12px 8px #00000029;
}

#main__container .search__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main__container .search__container .search__input {
  width: 100%;
  height: 2.5rem;
  padding: 5px;
  font-size: 18px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #ec1923;
  background-color: #f3f5f8;
}

@media screen and (min-width: 1024px) {
  #main__container .search__container .search__input {
    width: 90%;
    border-bottom: 3px solid #ec1923;
  }
}

@media screen and (min-width: 1240px) {
  #main__container .search__container .search__input {
    width: 80%;
  }
}

#main__container .search__container #search__icon {
  position: absolute;
  top: 43%;
  left: 88%;
  color: #161616;
  cursor: pointer;
}

#main__container .search__container #search__icon:hover {
  color: #ec1923;
}

@media screen and (min-width: 768px) {
  #main__container .search__container #search__icon {
    left: 93%;
  }
}

@media screen and (min-width: 1024px) {
  #main__container .search__container #search__icon {
    left: 86%;
  }
}

@media screen and (min-width: 1240px) {
  #main__container .search__container #search__icon {
    left: 84%;
  }
}

@media screen and (min-width: 1600px) {
  #main__container .search__container #search__icon {
    left: 87%;
  }
}

#main__container .heores__conteiner {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  #main__container .heores__conteiner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#main__container .heores__conteiner .heroe {
  width: 18rem;
  height: 18rem;
  margin-bottom: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #main__container .heores__conteiner .heroe {
    width: 15rem;
    height: 15rem;
  }
}

#main__container .heores__conteiner .heroe:hover {
  -webkit-box-shadow: 0px 5px 34px -14px #ec1923;
          box-shadow: 0px 5px 34px -14px #ec1923;
}

#main__container .heores__conteiner .heroe:hover .name-wrapper {
  width: 100%;
  padding: 5px 0px 0 0;
  -webkit-clip-path: none;
          clip-path: none;
}

#main__container .heores__conteiner .heroe:hover .name-wrapper .heroe__name {
  -webkit-clip-path: none;
          clip-path: none;
}

#main__container .heores__conteiner .heroe .heroe__icon {
  width: 18rem;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1%;
}

@media screen and (min-width: 768px) {
  #main__container .heores__conteiner .heroe .heroe__icon {
    width: 15rem;
    height: 15rem;
  }
}

#main__container .heores__conteiner .heroe .name-wrapper {
  padding: 5px 6px 0 0;
  width: 90%;
  height: 26%;
  position: absolute;
  background-color: #f3f5f8;
  bottom: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
}

#main__container .heores__conteiner .heroe .name-wrapper .heroe__name {
  width: 100%;
  height: 100%;
  padding: 5px 17px 5px 10px;
  font: 1.2rem "Bebas Neue", cursive;
  background-color: #ec1923;
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 768px) {
  #main__container .heores__conteiner .heroe .name-wrapper .heroe__name {
    font: 1.2rem "Bebas Neue", cursive;
  }
}

@media screen and (min-width: 768px) {
  #main__container {
    padding: 0 14vw;
  }
}

.footer-container {
  width: 100%;
  height: 4rem;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .footer-text {
  color: #f3f5f8;
  font: 1.2rem "Bebas Neue", cursive;
  cursor: pointer;
}

.footer-container .footer-text:hover {
  color: #ec1923;
}
/*# sourceMappingURL=styles.css.map */