.hero-container {
  padding: 2rem;
  text-align: center;
  color: $black;

  .hero-title {
    font: bold $medium $primary-font;
    text-transform: uppercase;
  }
  @media screen and (min-width: $avobe1024) {
    padding: 4rem;
    .hero-title {
      font: bold $large $primary-font;
    }
    .hero-paragraph {
      font-size: 20px;
    }
  }
}
