// Fonts
$primary-font: 'Bebas Neue', cursive;
$secondary-font: 'Roboto', sans-serif;

// Fonst size
$large: 6rem;
$medium: 3rem;
$small: 1.2rem;

// Colors theme
$white: rgb(243, 245, 248);
$black: rgb(22, 22, 22);
$red: rgb(236, 25, 35);
$backgroundDark: rgb(32, 32, 32);
$box-shadow: 0px 12px 8px #00000029;

// Media queries
$avobe768: 768px;
$avobe1024: 1024px;
$avobe1240: 1240px;
$avobe1600: 1600px;

// Transition
$transition: 0.3 ease-in-out;
